<!-- project preview sub-template 
want table to be entirely clickable -->
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=msg.user.username) }}">
                <img src="{{ msg.user.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.user', username=project.creator.username) }}">
                {{ msg.user.username }}
            </a>
            {% if msg.kind == 'request' %}
                {{ _('%(username)s created a project: %(when)s',
                        username=user_link, when=moment(project.timestamp).fromNow()) }}
                <a href="{{url_for('main.project', project_id=project.id)}}">{{ project.name }}</a><br>
                {{ project.descr }}
            {% end if%}
        </td>
    </tr>
</table>