{% extends "base.html" %}
{% block content %}

{% if form %}
<form class="go_center" action="" method="post">
    {{ form.hidden_tag() }} 
    <!-- PROJECT CREATION FORM -->
    <p>
        {{ form.name.label }}<br>            <!-- input label --> 
        {{ form.name(cols=30, rows=1, required='required', oninput="TextCounter(this, {})".format(form.lens['name'])) }}<br>  <!-- user input --> 
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        {{ form.category.label }}<br>            <!-- input label --> 
        {{ form.category(cols=32, rows=4) }}<br>  <!-- user input --> 
        {% for error in form.category.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.setting.label }}<br>           
        <div class="btn-group-toggle" data-toggle="buttons">
            {% for subfield in form.setting %}
            <!-- <tr> -->
                <label class="btn btn-primary">
                {{ subfield}} {{ subfield.label(style="cursor:pointer;") }}
                </label>
            <!-- </tr> -->
            {% endfor %}<br> 
            {% for error in form.setting.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        {{ form.skill_level.label }}<br>           
        <div class="btn-group-toggle" data-toggle="buttons">
            {% for subfield in form.skill_level %}
            <!-- <tr> -->
                <label class="btn btn-primary">
                {{ subfield}} {{ subfield.label(style="cursor:pointer;") }}
                </label>
            <!-- </tr> -->
            {% endfor %}<br> 
            {% for error in form.skill_level.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        {{ form.descr.label }}<br>            
        {{ form.descr(cols=32, rows=4, required='required') }}<br> 
        {% for error in form.descr.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        {{ form.geo_type.label }}<br>            
        <div class="btn-group-toggle" data-toggle="buttons">
            {% for subfield in form.geo_type %}
            <!-- <tr> -->
                <label class="btn btn-primary">
                {{ subfield(id="geo_type",style="z-index:4") }} {{ subfield.label(style="cursor:pointer;") }}
                </label>
            <!-- </tr> -->
            {% endfor %}<br> 
            {% for error in form.geo_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id = "colleges" style="margin:0 auto; display:none;">
            {{ form.college.label }}<br>            
            {{ form.college(size=32) }}<br> 
            {% for error in form.college.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div id = "high_school" style="margin:0 auto; display:none;">
            Not implemented
        </div>

    
        <div id = "learning" style="margin:0 auto; display:none;">
            {{ form.learning_category.label }}<br>            
            {{ form.learning_category(cols=32, rows=4) }}<br> 
            {% for error in form.learning_category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %} <br>
            
            {{ form.pace.label }}<br>            
            {{ form.pace(cols=32, rows=4) }}<br> 
            {% for error in form.pace.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.resource.label }}<br>            
            {{ form.resource(cols=32, rows=4) }}<br> 
            {% for error in form.resource.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        
        <div id = "software" style="margin:0 auto; display:none;">
            {{ form.lang.label }}<br>            
            {{ form.lang(cols=32, rows=4) }}<br> 
            {% for error in form.lang.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

    </p>
    <p>{{ form.submit(class_="btn-lg btn-success") }}</p>


</form>
{% endif %} <!-- end of form bool -->

    
<script type="text/javascript">
    
    $(document).ready(function() {
    /* Show and hide category specific form fields
    * instead of manually creating cat_map, could go through div ids and drop down elements and
    * automatically create relationship based on word similarity. */
        $("#category").change(function () { // detecting change in category drop down
            let div_map  = {'learning':'learning', 'software development':'software'}; //{form value:div id, ...}
            var val = $(this).val();
            var div_ids = $.map(div_map, function(value, key) { return value });

            for (i in div_ids) {
                if (div_ids[i] == div_map[val]) { 
                    $("#"+div_ids[i]).show("slow");
                }
                else {$("#"+div_ids[i]).hide("slow");}
                }
            });
        $('input[type=radio][id="geo_type"]').change( function () { // detecting change in geo drop down
            let div_map  = {'College/university':'colleges','High school':'high_school'}; //{form value:div id, ...}
            var val = $(this).val();
            var div_ids = $.map(div_map, function(value, key) { return value });
            for (i in div_ids) {
                if (div_ids[i] == div_map[val]) { 
                    $("#"+div_ids[i]).show("slow");
                }
                else {$("#"+div_ids[i]).hide("slow");}
                }
            });    
            
        });    

    function TextCounter(field, limit) {
        /* NOT WORKING - Supposed to be used in TextAreaField */
        var typedChars = $(field).val().length;
        $(field).next('span').text(typedChars=0?'0 / '+limit:typedChars+' / '+limit);
        };

    // $(document).ready(function () {
    //     $('#college').select2({
    //         placeholder: 'Enter a college name',
    //         allowClear: true,
    //         'width': 'style'
    //     });
    // });

    $( function() {
        var options = {{ form.colleges|safe }};
        $( "#college" ).autocomplete({
        // source: options
        source: function(request, response) {
                    var results = $.ui.autocomplete.filter(options, request.term);
                    response(results.slice(0, 10));
                }
        });
    } );

</script>
{% endblock %}