{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }} <!-- PROJECT CREATION FORM -->
        <p>
            {{ form.name.label }}<br>            <!-- input label --> 
            {{ form.name(cols=32, rows=4) }}<br>  <!-- user input --> 
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.category.label }}<br>            <!-- input label --> 
            {{ form.category(cols=32, rows=4) }}<br>  <!-- user input --> 
            {% for error in form.category.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            {{ form.descr.label }}<br>            
            {{ form.descr(cols=32, rows=4) }}<br> 
            {% for error in form.descr.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
    {% for project in projects %}
    <div><p>{{ project.creator.username }} says: <b>{{ project.descr }}</b></p></div>
    {% endfor %}
{% endblock %}