{% extends "base.html" %}
{% block content %}

<h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
<br><br>
<div class = "go_center fpage_div">
    {% if g.search_form %}
    <form class="navbar-form" method="get" action="{{ url_for('main.search') }}" style="margin-top: 25px; width: 200px; text-align: center; display: inline-block;">
        <div class="form-group">
            {{ g.search_form.q(size=20, class='form-control',
                placeholder=g.search_form.q.label.text) }}
        </div>
    </form>
    {% endif %}

    <p>or...</p><br>

    <a class="btn btn-primary" href="{{ url_for('main.create_project') }}" role="button">Create a new project!</a>
</div>

<!-- User feed -->

<div class='project_stream' >

    {% for project in projects %}
    {% include '_project.html' %}
    {% endfor %}

    <nav aria-label="..."> <!-- supposed to be greyed out and horizontal -->
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer projects') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older projects') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

    
<script type="text/javascript">
    // Show and hide category specific form fields
    // instead of manually creating cat_map, could go through div ids and drop down elements and
    // automatically create relationship based on word similarity.
    $(document).ready(function() {
        $("#category").change(function () { // detecting change in category drop down
            let cat_map  = {'learning':'learning', 'software development':'software'}; //{form value:div id, ...}
            var val = $(this).val();
            var div_ids = $.map(cat_map, function(value, key) { return value });

            for (i in div_ids) {
                if (div_ids[i] == cat_map[val]) { 
                    $("#"+div_ids[i]).show("slow");
                }
                else {$("#"+div_ids[i]).hide("slow");}
                }
            }); 
        });    
        
    function TextCounter(field, limit) {
        var typedChars = $(field).val().length;
        $(field).next('span').text(typedChars=0?'0 / '+limit:typedChars+' / '+limit);
        };

</script>
{% endblock %}
    
