{% extends "base.html" %}

{% block content %}

<h1 style="float: left">{{ proj.name }}</h1> 
<p style=" white-space: nowrap; overflow: hidden; color: #949494;">  &nbsp started by {{proj.creator.username}}, {{moment(proj.timestamp).fromNow()}} </p>
<br><h3> A {{proj.category}} project.</h3>
<p>{{proj.descr}}</p>
{% if tags|length > 0 %}
    <b>tags:</b>
    <ul>
    {%for tag in tags%}
        <a href="search?q={{tag}}" class="btn btn-sm" style="color:white;background-color:rgb(98, 199, 101);"> {{_(tag)}}</a>
    {%endfor%}
    </ul>
{%endif%}

{% if wanted_positions|length > 0 %}
    <b>wanted positions:</b>
    <ul>
    {%for pos in wanted_positions%}
        <a href="search?q={{pos}}" class="btn btn-sm" style="color:white;background-color:rgb(140, 98, 199);"> {{_(pos)}}</a>
    {%endfor%}
    </ul>
{%endif%}


<p>{{proj.setting}} setting - for those at {{proj.skill_level}} skill level</p>
{%if proj.chat_link and current_user.username == proj.creator.username %} <!-- later check if member not creator-->
    <p>Join the conversation: <a class = "btn btn-info" href="http://{{proj.chat_link}}">{{proj.chat_link}}</a></p>
{%endif%}

{% if proj.category == 'learning'%}
    <div id = 'learning'>
        <p><b>Pace: </b>Learning at a {{proj_dict['pace']}} pace</p>
        {% if proj.resource%}
            <p> <b>Resources: </b>using {{proj.resource}}</p>
        {% endif %}
    </div>
{% elif proj.category == 'software development'%}
    <div id = 'software'>
        Hello
    </div>
{% endif %}
 
{% if current_user.username == proj.creator.username %}
    <a href="{{ url_for('main.edit_project', project_id=proj.id) }}" method='post' class="btn btn" style="color:white;background-color:turquoise;"> {{_('edit project details')}} </a>
        <br><br>
    <a href="{{ url_for('main.request_project', project_id=proj.id, kind='invite') }}"  method='post' class="btn btn" style="color:white;background-color:purple;"> + {{ _('invite user') }} </a>

{% elif current_user.can_request(proj) %}
    <a href="{{ url_for('main.request_project', project_id=proj.id, kind='request') }}"  method='post' class="btn btn" style="color:white;background-color:purple;"> + {{ _('request to join project') }} </a>
{% endif %}




<script type="text/javascript">
    
 </script>           
{% endblock%}